flask
flask-login
flask_sqlalchemy
werkzeug
fpdf
openai
certifi
python-dotenv
python-docx
PyPDF2
python-pptx
requests
beautifulsoup4
youtube-transcript-api
simplejson
gunicorn
itsdangerous
markupsafe
Jinja2
flask-wtf
wtforms
flask-cors
bcrypt
environs
celery
Pillow
